<?xml version="1.0"?>
<config>
    <modules>
        <Kimit_Cmspack>
            <version>0.1.0</version>
        </Kimit_Cmspack>
    </modules>
    <global>
        <models>
            <kimit_cmspack>
                <class>Kimit_Cmspack_Model</class>
                <resourceModel>kimit_cmspack_resource</resourceModel>
            </kimit_cmspack>
            <kimit_cmspack_resource>
                <class>Kimit_Cmspack_Model_Resource</class>
                <entities>
                    <pagearchive>
                        <table>kimitcms_pagearchive</table>
                    </pagearchive>
                    <blockarchive>
                        <table>kimitcms_blockarchive</table>
                    </blockarchive>
                </entities>
            </kimit_cmspack_resource>
        </models>
        <blocks>
            <kimit_cmspack>
                <class>Kimit_Cmspack_Block</class>
            </kimit_cmspack>
        </blocks>
        <helpers>
            <kimit_cmspack>
                <class>Kimit_Cmspack_Helper</class>
            </kimit_cmspack>
        </helpers>
        <resources>
            <kimit_cmspack_setup>
                <setup>
                    <module>Kimit_Cmspack</module>
                </setup>
            </kimit_cmspack_setup>
        </resources>
        <events>
            <cms_page_save_after>
                <observers>
                    <kimit_cmspack_page_observer>
                        <type>singleton</type>
                        <class>Kimit_Cmspack_Model_Observer</class>
                        <method>cmspageSave</method>
                    </kimit_cmspack_page_observer>
                </observers>
            </cms_page_save_after>
            <core_abstract_save_before>
                <observers>
                    <kimit_cmspack_page_observer>
                        <type>singleton</type>
                        <class>Kimit_Cmspack_Model_Observer</class>
                        <method>cmsblockSave</method>
                    </kimit_cmspack_page_observer>
                </observers>
            </core_abstract_save_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <bar>
                    <file>kimit_cmspack.xml</file>
                </bar>
            </updates>
        </layout>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <kimit_cmspack before="Mage_Adminhtml">Kimit_Cmspack</kimit_cmspack>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <kimit_cmspack>
                <use>standard</use>
                <args>
                    <module>Kimit_Cmspack</module>
                    <frontName>kimitcmspack</frontName>
                </args>
            </kimit_cmspack>
        </routers>
    </frontend>
</config>